// Basic Custom CSS
body {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
}
.btn-primary {
  background-color: #4488cc;
  border-color: #3377bb;
  color: #fff;
  margin-right: 20px;
}
.btn-default {
  background-color: #4488cc;
  border-color: #3377bb;
  color: #fff;
}
form {
  border: 1px solid #48c;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 5px #48c;
}
.form-control:focus {
  border-color: #4488cc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(68, 136, 204, 0.6);
  outline: 0 none;
}
.page-header {
  border-bottom: 1px solid #48c;
}
